* {
  box-sizing: border-box;
}

:root {
  --primus: #44e9ff;
  --secundus: #497980;
  --tertius: rgb(192, 246, 253);
  --quartus: #333;
  --quintas: #fff;
  --sextus: #ededed;
  --septimus: rgb(196, 196, 196);
  --octavus: #444;
  --nonus: #888;
  --decimus: #aaa;
  --undecimus: #222;
  --duodecimus: rgba(59, 153, 252, 0.7);
  font-size: 62.5%;
}

body {
  background: var(--sextus);
  color: var(--quartus);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--secundus);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primus);
}

header p {
  color: var(--tertius);
  margin: 5px 0 20px;
  font-size: 2rem;
}

p,
li {
  font-size: 1.6rem;
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--quartus);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}

footer {
  width: 100%;
  background: var(--secundus);
  color: var(--tertius);
  font-size: 2.4rem;
  padding: 20px;
  border-top: 5px solid var(--primus);
}

.page-title {
  color: var(--primus);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.task-list-wrapper {
  flex: 1;
  margin: 0 20px 20px;
}

.list-title {
  color: var(--secundus);
  font-size: 2.6rem;
}

.task-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: var(--septimus);
  border-radius: 12px;
  border: 2px solid var(--quartus);
}

.task-item {
  color: var(--quartus);
  padding: 15px 15px;
  border: 2px solid var(--quartus);
  background: var(--tertius);
  border-radius: 12px;
  margin-bottom: 20px;
}

.task-name {
  margin: 0;
  font-size: 1.8rem;
}

.task-type {
  color: var(--secundus);
  font-size: 1.55rem;
}
.task-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 5px 0;
  justify-content: space-between;
}

.task-actions button,
.task-actions select {
  flex: 1;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primus);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--quartus);
}

.btn:hover {
  box-shadow: 0 2px var(--quartus);
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--quartus);
  top: 0;
}

.edit-btn,
.delete-btn {
  font-size: 1.4rem;
  padding: 5px 7px;
  margin: 3px;
  background: var(--secundus);
  color: var(--quintas);
}

.select-dropdown,
.select-status {
  display: block;
  font-size: 2.2rem;
  color: var(--octavus);
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--quartus);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--quintas);
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-status {
  font-size: 1.4rem;
  padding: 4px 28px 4px 4px;
  width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
  display: none;
}

.select-dropdown:hover,
.select-status:hover {
  border-color: var(--nonus);
}

.select-dropdown:focus,
.select-status:focus {
  border-color: var(--decimus);
  box-shadow: 0 0 1px 3px var(--duodecimus);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color:  var(--undecimus);
  outline: none;
}
.select-dropdown option,
.select-status option {
  font-weight: normal;
  font-size: 2rem;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}

/* @media (prefers-color-scheme: dark) {

  :root {
    --primus: #376268;
    --secundus: #2c2c41;
    --tertius: rgb(182, 156, 12);
    --quartus: rgb(61, 55, 95);
    --quintas: rgb(102, 102, 102);
    --sextus: #3f3f3f;
    --septimus: rgb(102, 102, 102);
    --octavus: #444;
    --nonus: #888;
    --decimus: rgb(122, 122, 122);
    --undecimus: rgb(116, 116, 116);
    --duodecimus: rgba(224, 208, 63, 0.7);
    --tertiusdecimus: white;
  }
  .list-title {
    color: var(--tertius);
  }

  form input {
    background-color: var(--octavus);
  }

  .form-group input {
    color: var(--tertiusdecimus);
  }

} */
